body {
  background-color: #738fa7;
}
.main-wrapper,
.container-form,
.film-list,
.container-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper {
  padding-top: 3rem;
}
.main-wrapper,
.container-form,
.container-input {
  flex-direction: column;
  gap: 2rem;
}
.film-list {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  max-width: 900px;
  margin-top: 1rem;
}
.film-list img {
  width: 200px;
  height: 250px;
}
.film-list .card {
  text-align: center;
  padding: 2px;
  background-color: #f3eac0;
}
.main-title,
.main-subtitle {
  font-family: 'Fredoka', Arial, Helvetica, sans-serif;
  color: #071330;
  font-size: 2rem;
  font-weight: 700;
}
.main-subtitle {
  font-size: 1.6rem;
  font-weight: 500;
}
.main-subtitle.-filmtitle {
  margin-bottom: 10px;
}
.main-subtitle.-small {
  font-size: 1.2rem;
}
.main-button {
  padding: 5px;
  border-radius: 5px;
}
